@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Proyecto para demostrar el funcionamiento de las ramas de GIT.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Proyecto para demostrar el funcionamiento de las ramas de GIT.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Historia de Usuario 1</h2>
        <p>
            1.	Como usuario nuevo, quiero poder registrarme en la página web fácilmente para acceder a contenido exclusivo.
            •	Criterios de aceptación:
            •	La página de registro debe ser intuitiva y fácil de completar.
            •	Se debe enviar un correo electrónico de confirmación después del registro.
            •	Los usuarios deben poder iniciar sesión después de confirmar su registro.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Historia de Usuario 2</h2>
        <p>
            2.	Como usuario habitual, quiero tener la opción de guardar mis artículos favoritos para poder acceder rápidamente a ellos más tarde.
            •	Criterios de aceptación:
            •	Cada artículo debe tener un botón de "Guardar" visible.
            •	Los usuarios registrados pueden ver una lista de sus artículos guardados en su perfil.
            •	Se debe proporcionar una opción para quitar artículos de la lista de favoritos.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Historia de Usuario 3</h2>
        <p>
            3.	Como usuario visitante, quiero poder buscar fácilmente información específica en la página web.
            •	Criterios de aceptación:
            •	La barra de búsqueda debe estar ubicada de manera prominente en la página.
            •	Los resultados de la búsqueda deben ser relevantes y mostrarse de manera clara.
            •	Debe haber filtros disponibles para refinar la búsqueda (por fecha, categoría, etc.).
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Historia de Usuario 4</h2>
        <p>
            4.	Como administrador del sitio, quiero recibir notificaciones por correo electrónico cada vez que alguien envíe un formulario de contacto.
            •	Criterios de aceptación:
            •	Debe haber un formulario de contacto en la página.
            •	Los correos electrónicos de notificación deben contener la información enviada a través del formulario.
            •	La información del remitente y el motivo del contacto deben ser visibles en el correo.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Historia de Usuario 5</h2>
        <p>
            5.	Como usuario móvil, quiero que la página web sea fácil de navegar y utilizar en dispositivos móviles.
            •	Criterios de aceptación:
            •	La página web debe ser completamente receptiva y adaptarse a diferentes tamaños de pantalla.
            •	Los menús de navegación deben ser accesibles y fáciles de usar en pantallas táctiles.
            •	Todas las funciones principales de la página web deben ser plenamente utilizables en dispositivos móviles.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>